*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #262626;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.g-container {
  width: 1200px;
  margin: 0 auto;
}

.g-dflex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline .icon-home {
  margin-left: auto;
}

.g-btn {
  background: #31AE54;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.15px;
  color: #FFFFFF;
  border: none;
  min-width: 128px;
  padding: 10px 32px;
}

.g-btn:hover {
  cursor: pointer;
}
