.post-avatar {
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 100%;
    max-width: 44px;
    min-width: 44px;
    width: 44px;
    margin-right: 14px;
    img {
      object-fit: cover;
      object-position: center;
      border-radius: 100%;
    }
  }
  .post-username {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.1px;
  }