.popup-container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    .popup-topline {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 48px;
    }
    .icon-logo {
      color: white;
      width: 174px;
      max-width: 174px;
      min-width: 174px;
    }
    .icon-close {
      color: white;
      width: 23px;
      max-width: 23px;
      min-width: 23px;
    }
  }
  .stories-container {
    height: 600px;
    position: relative;
  }
  .stories {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -188px;
    transition: .4s;
  }