.icon {
    color: #262626;
    width: 25px;
    height: 25px;
    margin-right: 25px;
  }
  .stories{
      display: flex;
      justify-content: space-between;
  }
  .icon-avatar{
    width: 35px;
    height: 35px;
    margin-right: 25px;
  }
  .icon-exit{
    width: 25px;
    height: 20px;
  }
  .headline{
      display: flex;
      justify-content: end;
      align-items: center;
  }
  .icon-gittogram{
      color: #262626;
      width: 174px;
      height: 35px;
  }